
*{
    box-sizing: border-box;
    margin:0;
    padding:0;    
}


nav{
    max-width: 400px;
    margin: 0 auto;
}


nav ul{
    max-width: 400px;
    list-style-type: none;
    display:flex;
    justify-content: center;   
}

nav li {
    margin: 20px;
}

h1{
    text-align: center;
    margin : 30px;
}

#container{
   margin: 0 auto;
    max-width: 800px;   
}

.avatars{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

}

img{
    width: 50%;
}

p{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 0px ;
    margin-bottom: 15px;
}

aside ul{
    list-style-type :' -  ';
}

h2{
    margin-bottom: 15px;
}